/* colors */
$color-brown: #784547;
$color-black: #000000;
$color-black1: #333333;
$color-white: #ffffff;
$color-yellow: #fcda91;

$bg-header-color: $color-brown;
$base-url-img: '../img/';
$base-url-fonts: '../../fonts/';

$base-font-size: 16px;
$font-size-h2: 48px;
$font-size-icon: 32px;
$font-color: $color-black1;
$font-color-inverted: $color-white;

$base-font: Helvetica, sans-serif;
